. {
    padding: 0;
    margin: 0;
}

.logo {
    float: left;
    margin-top: 0px;
}

.logo a {
    text-decoration: none;
    font-size: 30px;
}

.navbar {
    width: 100%;
}

.navbarul {
    list-style: none;
    align-items: center;
    display: flex;
    gap: 1em;

}

.navbarul a{
    text-decoration: none;
    font-size: 25px;
    
}